#trendingProducts {
    margin-bottom: 1rem;
}

/*style underline categories*/

#categories {
    margin-bottom: 1rem;
}

a {
    color: black;
    display: block;
    position: relative;
    padding: 0.2em 0;
}

.box-e {
    position: relative;
    display: block;
    width: 100%;
    text-align: center;
    cursor: pointer;
}

.custom-underline {
    position: relative;
    display: inline-block;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}

.custom-underline, .custom-underline:hover, .custom-underline:focus, .custom-underline:active {
    color: rgb(17, 1, 1);
    text-decoration: none;
}

.custom-underline::after {
    content: "";
    position: absolute;
}

/*style underline*/

.box-e .custom-underline::after {
    top: 85%;
    height: 2px;
    width: 0%;
    left: 5%;
    background-color: rgba(247, 25, 25, 0.6);
    transition: 0.5s ease all .2s;
}

.box-e:hover .custom-underline::after {
    width: 90%;
    transition: 0.3s ease all;
}

#products p {
    padding-top: 0.75rem;
}

/*price*/

.price {
    margin-top: -10px;
}

/*'Show All' Button*/

.show-button {
    background-color: rgb(241, 239, 239);
    border: 0 solid #e2e8f0;
    border-radius: 3rem;
    box-sizing: border-box;
    color: #0d172a;
    cursor: pointer;
    display: inline-block;
    font-family: "Basier circle", -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 600;
    line-height: 1;
    padding: 20px 60px;
    text-align: center;
    text-decoration: none #0d172a solid;
    text-decoration-thickness: auto;
    transition: all .1s cubic-bezier(.4, 0, .2, 1);
    box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.show-button:hover {
    background-color: #1e293b;
    color: #fff;
}

@media (min-width: 768px) {
    .show-button {
        font-size: 1rem;
        padding: 1rem 2rem;
    }
}