.thumb {
    margin-bottom: 30px;
    cursor: pointer;
}

.image-card {
    width: 100%;
    height: 200px;
    border-radius: 5px;
    object-fit: cover;
    transition: 0.3s all ease-in-out;
}

.image-card-hover:hover {
    transform: scale(1.05);
}

.image-selected {
    border: 1px solid blue;
}
