.row{
    margin-left: 0;
    margin-right: 0;
}
.banner__name {
    width: 100%;
    height: 200px;    
    background-color: #EEEEEE; /* mau background banner */
}
.banner__name--size {
    font-size: xx-large;
    text-align: center;
    padding-top: 80px;
    font-weight: bold;
}
/* body checkout */
.checkout__page{
    margin-top: 3%;
    padding-left: 10%;
    padding-right: 10%;
}

/* title bill detail */
.title_bill{
    font-size: xx-large;
    font-weight: bold;
}
.bill__detail{
    padding-left: 5%;
    padding-right: 5%;
}

/* setting input text*/
input[type=text] {
    width: 100%;
    padding: 12px 20px;
    border: 2px solid #aaa;  /* mau vien border */
    border-radius: 4px;
    margin-top: 1%;
}
input[type=text]:focus {
    outline: none;
    border: 3px solid #F6AB49; /* mau vien border khi click vao */
}

/* input email */
.contact__email{
    margin: 0 1% 0 1%;
}
.contact__email__input{
    font-size: larger;
}

/* login */
.login_account{
    text-align: right;
    padding-top: 1%;
}
#login{
    color:#F6AB49 ; /* mau chu */
    padding-right: 2%;
}
#login:hover{
    font-weight: bold;
    cursor: pointer;
    transition: .2s;
}

/* title shipping address */
.title__shippingaddress{
    font-size: 20px;
    padding-left: 2%;
    padding-top: 2%;
}

/* name input*/
.name__cus{
    margin-top: 2%;
}
.title__firstname{
    font-size: larger;
}
.title__lastname{
    font-size: larger;
}

/* country input */
.country{
    margin: 2% 1% 0 1%;
}
.title__country{
    font-size: larger;
}
.country__select {
    margin-top: 1%;
    width: 100%;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1; /* mau cua select province/city */
    
}
.country__select:focus{
    outline: none;
    border: 3px solid #F6AB49; /* mau vien select khi click */
}
.country__select:hover{
    transition: .2s;
    cursor: pointer;
}

/* street address input */
.street__address{
    margin: 2% 1% 0 1%;
}
.title__streetaddress{
    font-size: larger;
}

/* phone input */
.phone{
    margin: 2% 1% 0 1%;
}
.title__phone{
    font-size: larger;
}

/* note input */
.order__note{
    margin: 2% 1% 0 1%;
}
.title__note{
    font-size: larger;
}
.title__note--write{
    margin-top: 1%;
}
textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc; /* mau vien boder note input */
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}
textarea:focus{
    outline: none;
    border: 3px solid #F6AB49; /* mau vien khi click vao */
}

/* your order - ben phai */
.title_order{
    font-size: xx-large;
    font-weight: bold;    
}

/* boder chung cua your order */
.border__order{
    border: 2px solid #ccc; /* mau vien border cua your order */
    width: 90%;
    padding: 12px 20px;
    margin-top: 10%;
    font-size: larger;
    margin-bottom: 10%;
}

/* ke ngang giua cac div */
.line{
    margin-top: 4%;
    margin-bottom: 4%;
}

/* dong product va subtotal */
.body__ordertitle{
    margin-top: 5%;
}
.body__ordertitle__subtotal{
    text-align: right;
}

/* dong subtotal cua moi loai sp */
.body__orderproduct__subtotal{
    text-align: right;
}

/* dong price total  */
.body__ordersubtotal__subtotal{
    text-align: right;
}

/* dong shipping */
.body__ordershipping{
    margin-left: 3%;
}

/* loai shipping */
.body_ordershipping__type{
    margin-left: 3%;
    color: #aaa;  /*  mau chu cua loai shipping*/
}

/* dong total */
.body__ordertotal{
    margin-top: 5%;
}
/* gia tong cong */
.body__ordertotal__total{
    text-align: right;
    font-size: x-large;
}

/* dong Your personal data will.... */
.body__order__remind{
    text-align: justify;
}

/* button place order */
.placeorder--btn {
    background-color: #aaa; /* mau backgound btn cua place order */
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    color: #fff;  /* mau chu cua btn place order */
    border-radius: 10px;
    font-weight: bold;
    font-size: larger;
}
.placeorder {
    text-align: right;
    margin-bottom: 5%;
    margin-top: 2%;
}
.placeorder--btn:hover{
    background-color: #F6AB49; /* mau backgound btn cua placeorder khi hover */
    transition: .2s;
    box-shadow: 0 0 20px 0 #F6AB49; /* mau bong btn khi hover */
    opacity: 0.8;
}

