body {
    font-family: "Montserrat", sans-serif !important;
}

/* Top nav bar */
.navbar__container {
    width: 100%;
    margin: 0;
    position: relative;
}

.navbar__topnav {
    height: 70px;
    background-color: burlywood;
    padding: 0 20px;
}

.navbar__topnav-sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    animation: fadding 0.8s linear;
}

@keyframes fadding {
    from {
        height: 30px;
        opacity: 0;
    }
    to {
        height: 70px;
        opacity: 1;
    }
}

.navbar__topnav-main {
    display: flex;
    justify-content: space-between;
}

.topnav__item {
    display: flex;
    align-items: center;
}

.topnav__item-fullscreen {
    display: none;
}

.topnav__item__button {
    padding: 0 10px;
    text-align: center;
    text-decoration: none;
    color: black;
    transition: 0.3s linear;
}

.topnav__item__button:hover {
    text-decoration: none;
    color: white;
    transition: 0.3s linear;
}

.topnav__item-icon {
    font-size: 22px;
}

.topnav__item-burger {
    cursor: pointer;
    font-size: 22px;
}

@media (min-width: 576px) {
    .topnav__item-fullscreen {
        display: flex;
    }

    .topnav__item {
        flex: 0.3333333;
    }

    .topnav__item:nth-child(1) {
        justify-content: start;
    }

    .topnav__item:nth-child(2) {
        justify-content: center;
    }

    .topnav__item:nth-child(3) {
        justify-content: end;
    }
}

/* End top navbar */

/* Side navbar */
.panel {
    display: none;
    width: 100%;
    padding: 0 20px;
    background-color: white;
    max-height: 150px;
    overflow-y: scroll;
}

.panel-stickey {
    margin-top: 69px;
    position: fixed;
    width: 100%;
    z-index: 101;
    animation: panel-fadding 0.8s linear;
}

@keyframes panel-fadding {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.panel__item {
    font-weight: 600;
    padding: 6px 0;
    display: block;
    text-decoration: none;
    color: rgb(102, 91, 91);
}

.panel__item:hover {
    text-decoration: none;
    background-color: whitesmoke;
    color: black;
}
.panel__item:nth-child(even) {
    border-top: 1px solid rgb(110, 104, 104);
    border-bottom: 1px solid rgb(110, 104, 104);
}

.panel__item__icon {
    margin-right: 5px;
}
/* End sidenav content */
/* End sidenav */

/* Backdrop */
.nav-backdrop {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    content: "";
}

.modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-overlay-active {
    display: block;
}
.modal-overlay-inactive {
    display: none;
}

/* End backdrop */
