* {
    box-sizing: border-box;
}

.row {
    margin-left: 0;
    margin-right: 0;
    display: flex;
}

/*==================breadcrumb=================*/

.breadcrumb {
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    margin-bottom: 0;
}

.breadcrumb a {
    color: #4CAF50;
}

.breadcrumb a:hover {
    font-weight: bold;
}

.breadcrumb i:hover {
    font-size: x-large;
}

.breadcrumb i {
    font-size: larger;
}

/*dau > */

.breadcrumb-item+.breadcrumb-item::before {
    content: ">";
}

/*==================Product Content div=================*/

.product-desc__col--mini {
    display: flex;
    justify-content: space-around;
}

/*====================Product Photos====================*/

/*3 Mini-Photo*/


.mini-photos__row {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 15px;
}


@media screen and (min-width: 770px) {
    .mini-photos__row {
        flex-flow: column;
        width: 100%;
        height: auto;
    }
}

@media screen and (max-width:983px) {
    .mini-photos__row img {
        flex-flow: column;
        width: 100%;
        height: auto;
    }

    .product-desc--name {
        text-align: center;
        font-size: larger;
    }

    /*phần miêu tả ngắn*/
    .product-desc__col {
        margin-top: 10px;
    }
}

.mini-photos__row img {
    max-width: 115px;
    max-height: 115px;
    display: block;
    text-align: center;
    /*bo tròn ảnh*/
    border-radius: 4%;
    -moz-border-radius: 4%;
    -webkit-border-radius: 4%;
}

.mini-photo__col img:hover {
    cursor: pointer;
    transform: scale(1.01);
}

@media screen and (max-width: 600px) {
    .prod-content {
        width: 100%;
    }
}

/*Big-Photo*/

.prod-content__col--big img {
    max-width: 560px;
    height: 470px;
}

.big-photo--imageradius {
    border-radius: 2%;
    -moz-border-radius: 2%;
    -webkit-border-radius: 2%;
}

/*media*/

@media only screen and (max-width: 1286px) {
    .prod-content__col--big img {
        width: 100%;
        max-width: 470px;
        max-height: 470px;
        height: auto;
    }
}

@media only screen and (max-width: 760px) {
    .trending-product {
        display: none;
    }

    .prod-content__col--big {
        display: flex;
        justify-content: center;
    }
}

/*======================Short Product Description======================*/

.product-desc__col {
    max-width: 420px;
}

/*-----------2 BUTTONS-------------*/

/*---button ADD TO CART---*/
.btn--addCart {
    display: inline-block;
    padding: 0.5em 1.7em;
    margin: 0 0.1em 0.1em 0;
    border: 0.1em solid rgb(0, 0, 0);
    border-radius: 2em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    color: #000000;
    text-shadow: 0 0.04em 0.04em rgba(255, 255, 255, 0.253);
    text-align: center;
    transition: all 0.2s;
}

.btn--addCart:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    text-decoration: none;
}

/*---button BUY NOW---*/
.btn--buyNow {
    display: inline-block;
    padding: 0.5em 1.7em;
    margin: 0 0.1em 0.1em 0;
    border: 0.1em solid rgb(0, 0, 0);
    border-radius: 2em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    color: #000000;
    text-shadow: 0 0.04em 0.04em rgba(255, 255, 255, 0.253);
    text-align: center;
    transition: all 0.2s;
}

.btn--buyNow:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    text-decoration: none;
}

/*-------CATEGORIES && TAGS---------*/
.product-desc--category {
    margin-top: 18px;
}

.product-desc__h7--name:hover {
    cursor: pointer;
    text-decoration: underline;
}

/*Media*/

@media only screen and (max-width: 1146px) {
    .product-desc__col {
        display: block;
    }
}

/*=====================Detail product's description======================*/


.product-detail__row {
    display: flex;
    justify-content: center;
}

.product-detail--title h4 {
    background-color: #fdfdfd;
    font-weight: 550;
}

/*----Description Table----*/
.desc-table tr {
    margin-bottom: 20px;
}

/*======================Trending Products Column======================*/
.trending-product--content {
    align-items: center;
}

.trending-product__row img {
    max-width: 100px;
    max-height: 100px;
    /*bo tròn ảnh*/
    border-radius: 2%;
    -moz-border-radius: 2%;
    -webkit-border-radius: 2%;
}

.trending-product__row:hover {
    cursor: pointer;
    transform: scale(1.01);
    text-decoration: underline;
}

.trending-product--title {
    margin-bottom: 20px;
}

.trending-product--content {
    margin-left: 10px;

}

@media screen and (max-width:770px) {
    .product-detail__col--trending {
        display: none;
    }
}

/*======================Related Products======================*/

.related-prod {
    margin-top: 100px;
    margin-bottom: 45px;
}

.related-prod__row {
    justify-content: center;
    text-align: center;
}

.related-prod__col {
    text-align: center;
}

.related-prod__col:hover {
    text-decoration: underline;
}

/*tiêu đề*/

.related-prod__h3 {
    margin-bottom: 20px;
}

/*tên sản phẩm*/

.related-prod__h6--name {
    padding-top: 0.75rem;
}

/*hình sản phẩm*/

.related-prod__row img {
    transition: transform 0.5s, filter 1.5s ease-in-out;
    margin-bottom: -6px;
    cursor: pointer;
    max-width: 250px;
    max-height: 250px;
    object-fit: cover;
    /*bo tròn ảnh*/
    border-radius: 3%;
    -moz-border-radius: 3%;
    -webkit-border-radius: 3%;
}

.related-prod__row img:hover {
    cursor: pointer;
    filter: grayscale(0);
    transform: scale(1.01);
}

/*media*/

@media only screen and (max-width: 1116px) {
    .related-prod__row img {
        max-width: 180px;
        max-height: 180px;
        object-fit: cover;
    }

    .related-prod__row p {
        font-size: smaller
    }
}

@media only screen and (max-width: 838px) {
    .related-prod__row img {
        max-width: 130px;
        max-height: 130px;
        object-fit: cover;
    }

    .related-prod__row p {
        font-size: smaller;
    }
}

@media only screen and (max-width: 636px) {
    .related-prod__row img {
        max-width: 250px;
        max-height: 250px;
        object-fit: cover;
    }

    .related-prod__row p {
        font-size: large;
    }
}